.condition-control {
    display: flex;

    .wrapper-tab {
        margin-left: 2rem;

        button {
            width: 60px;
            height: 32px;
            font-size: 14px;
            font-weight: 500;
            color: #444444;
            background-color: none;
            border: none;
            border-radius: 16px;
            background-color: #E8ECEF;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #ddd;
            }
            &.active {
                background-color: #3D3DF2;
                color: #fff;
            }
        }

    }
}

.condition-content {
    .tabcontent {
        display: none;

        &:first-child{
            display: block;
        }
    }
}

select.form-control {
    width: 120px;
    font-size: 14px;
    color: #222222;
    background-color: white;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 5px 11px;
    background: url(/img/ic_row.png) 93%/9px no-repeat white;
    -webkit-appearance: none;
    padding-right: 21px;
}