.topic-data {
	width: 300px;
	height: calc(100vh - 60px);
	position: fixed;
	right: 0;
	top: 60px;
	background-color: #fff;
	box-shadow: -1px 0 0 0 #D1D9DE;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.75s;

	.front {
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 2;

		.title {
			padding: 12px 16px 16px;
			color: #0F2533;
			font-size: 16px;
			font-weight: bold;

			&.mt-24 {
				padding-top: 24px;
			}
		}

		.dropdown-menu {
			.item {
				padding: 13px 16px;
				color: #222222;
				font-size: 14px;
				cursor: pointer;
				position: relative;
				transition: all 0.2s;

				&:hover {
					background: #E8ECEF;
				}

				&::after {
					content: '';
					display: inline-block;
					width: 24px;
					height: 12px;
					position: absolute;
					right: 10px;
					background: url('/img/chevron_right.png') center no-repeat;
					background-size: cover;
				}
			}
		}
	}

	.back {
		position: absolute;
		background-color: #fff;
		height: 100%;
		width: 100%;
		z-index: 3;
		top: 0;
		right: -300px;
		padding: 24px 20px;
		transition: all 0.75s;
		visibility: hidden;
		overflow-y: auto;

		.title {
			color: #0F2533;
			font-size: 16px;

			span {
				width: 24px;
				height: 24px;
				display: inline-block;
				background: url('/img/arrow_back.png') center no-repeat;
				background-size: cover;
				position: relative;
				top: 5px;
				margin-right: 20px;
				cursor: pointer;
			}
		}

		.sub-title {
			color: #0F2533;
			font-size: 12px;
			margin: 1rem 0;
			display: inline-block;
		}

		.block-form {
			.form-input {
				height: 40px;
				width: 260px;
				border: 1px solid #D1D9DE;
				border-radius: 4px;
				background-color: #F2F5F7;
				padding: 10px 12px;
				color: #0F2533;
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 8px;
				width: 100%;
			}
		}

		&.show {
			right: 0;
			animation: showBack 0.5s ease-in;
			visibility: visible;
		}
	}
}

@keyframes showBack {
	from {
		right: -300px;
	}

	to {
		right: 0;
	}
}