@import './../../../common/styles/styles.scss';

.admin-delivery {
    min-height: 1024px;
    display: flex;
    justify-content: flex-start;

    .delivery {

        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
        width: 45%;

        .title {
            height: 64px;
            background-color: white;
            font-size: 20px;
            color: #0F2533;
            padding: 0 24px;
            @include flex-center(center, space-between);

            .search {
                margin-right: 12px;
                position: relative;

                input {
                    background-color: #F2F5F7;
                    border: 1px solid #D1D9DE;
                    border-radius: 16px;
                    padding: 0 14px;
                    width: 100%;
                    height: 29px;
                }

                img {
                    right: 7px;
                    top: 7px;
                    width: 17px;
                    position: absolute;
                }
            }

            .add {

                position: relative;

                &:before {
                    content: '+';
                    color: white;
                    position: absolute;
                    top: 4px;
                    left: 10px;
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                button {
                    background-color: #3D3DF2;
                    color: white;
                    font-size: 14px;
                    border-radius: 4px;
                    border: none;
                    padding: 7px 8px;
                    padding-left: 28px;
                }
            }
        }

        .delivery-table {
            background: #F0F3F5;
            padding: 24px;

            .table-wrapper {
                background: white;
                border-radius: 4px;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

                table {
                    border-radius: 4px 4px 0 0;
                    border-bottom: 1px solid #D1D9DE;
                    width: 100%;

                    tr {
                        cursor: pointer;
                        &:hover {
                            background-color: #F0F3F5;
                        }
                        &:last-child {
                            td {
                                &>div:first-child {
                                    border-bottom: none;
                                }
                            }

                        }

                        td {
                            padding: 0 16px 0 27px;
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            flex-direction: column;

                            &>div:first-child {
                                padding: 16px 0;
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                border-bottom: 1px solid silver;

                                &>div:first-child {
                                    display: flex;
                                    justify-content: space-between;

                                    &>div:first-child {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                    }
                                }
                            }

                            .oval-gray {
                                background-color: #74818A;
                                width: 16px;
                                height: 16px;
                                border-radius: 50%;
                                font-size: 12px;
                                font-weight: bold;
                                line-height: 18px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                            }

                            .note {

                                &-dot {
                                    position: absolute;
                                    left: 8px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 999px;
                                    display: inline-block;
                                    background-color: #FA3E3E;
                                }

                            }

                            .date {
                                font-size: 11px !important;
                                line-height: 17px !important;
                                color: #999999 !important;

                                &>div:first-child {
                                    margin-bottom: 3px;
                                    font-style: italic;
                                    white-space: nowrap;
                                    @include flex-center(center, flex-end);
                                }

                                button {
                                    font-size: 10px;
                                    margin-left: auto;
                                    display: block;
                                    background-color: #B0B9BF;
                                    color: white;
                                    border: none;
                                    border-radius: 4px;
                                    padding: 5px 8px;
                                }

                            }

                            &:not(.none-border) {
                                &:after {
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    display: block;
                                    margin-left: 24px;
                                    border-bottom: 1px solid #D1D9DE;
                                }
                            }

                            .info {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                color: #222222 !important;

                                &>div:first-child {
                                    display: flex;
                                    width: 100%;
                                }

                                h4 {
                                    font-size: 14px;
                                    margin-bottom: 9px;
                                    margin-right: 5px;
                                }

                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                .pagination {
                    height: auto;
                    font-size: 14px;
                    border-radius: 0 0 4px 4px;
                }
            }
        }
    }

    .wrap-work-space {
        position: relative;
        width: 58%;
        background-color: white;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
    }

    .work-space {


        padding-left: 20px;
        padding-right: 20px;

        .title {
            padding: 16px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .content {
                color: #222222;
                font-size: 20px;
                font-weight: bold;
                line-height: 20px;
                border-bottom: 1px solid #cccccc;
                width: 70%;
                padding: 13px 0;
            }

            .date {
                font-size: 11px;
                line-height: 17px;
                color: #999999;

                .delivery-date {
                    font-size: 12px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .last-update-date {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }

        .note-space {
            height: 80px;
            background-color: #E8ECEF;
            border-radius: 4px;
            font-size: 14px;
            line-height: 20px;
            color: #444444;
            padding: 12px;
        }

        .wrapper-table {
            margin-top: 23px;
            box-shadow: none !important;

            .but-drop {
                margin-top: 16px;
                text-align: center;
            }

            // .btn-add {
            //     cursor: pointer;
            //     margin-top: 16px;
            //     background-color: #3D3DF2;
            //     color: white;
            //     display: inline-block;
            //     padding: 12px 14px ;
            //     border-radius: 4px;
            //     margin-left: 50%;
            //     transform: translateX(-50%);
            //     img {
            //         margin-right: 11px;
            //     }
            //     &>div:last-child {
            //         position: absolute;
            //         top: 40px;
            //         background-color: white;
            //         left: 0;
            //         padding: 8px 0;
            //         box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
            //         button {
            //             width: 100%;
            //             border: none;
            //             background-color: transparent;
            //             cursor: pointer;
            //             transition: 0.5s;
            //             color: #222222;
            //             padding: 12px 0;
            //         }
            //         button:hover {
            //             background-color: #F7FAFC;
            //         }
            //     }
            // }
        }
    }

    .work-space-action {

        border-top: 1px solid silver;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;

        &>div:nth-child(2) {
            input::placeholder {
                font-size: 14px;
            }

            input {
                border: 1px solid #D1D9DE;
                box-sizing: border-box;
                border-radius: 4px;
                width: 100%;
                padding: 10px 12px;
            }

        }

        .name-customer {
            margin-bottom: 8px;
            @include flex-center(center, flex-start);

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 6px;
                background-color: #E8ECEF;
                border-radius: 16px;
                margin-left: 8px;

                img {
                    margin-left: 10px;
                }
            }

        }

        &>div:last-child {
            margin-top: 16px;
            @include flex-center(center, space-between);
        }

        .export {
            @include flex-center(center, flex-end);

            label {
                font-size: 12px;
            }

            div {
                margin-left: 25px;
                padding: 8px;
                background-color: #3D3DF2;
                border-radius: 4px;
                color: white;
                font-size: 14px;
                @include flex-center(center, space-between);

                img {
                    margin-right: 12px;
                }
            }
        }

        .delete {
            color: #FA3E3E;
            font-size: 14px;
            padding-left: 14px;

            img {
                margin-right: 5px;
            }
        }
    }
}

// component add workspace
.wrap-workspace {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    .workspace {
        padding: 24px 24px 72px 24px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 2px 8px 0px 
        rgba(0,0,0,0.5);
        max-width: 480px;
        position: relative;
        h4 {
            font-size: 16px;
            color: #0F2533;
        }
        input:nth-child(2) {
            margin: 24px 0;
        }
        input:nth-child(4) {
            margin-bottom: 16px;
        }
        &>div:nth-child(5) {
            &>div {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                span {
                    padding: 11px;
                    border-radius: 16px;
                    background-color: #E8ECEF;
                    color: #444444;
                    font-size: 14px;
                    margin-bottom: 8px;
                    margin-right: 8px;
                }
            }
            p {
                color: #222222;
                font-size: 14px;
                margin-bottom: 8px;
            }
        }
        input[type=text] {
            padding: 12px;
            border-radius: 4px;
            border: 1px solid #D1D9DE;
            width: 100%;
            &::placeholder {
                font-size: 14px;
                color: #999999;
            }
        }
        &>div:nth-child(3) {
            display: flex;
            margin-bottom: 8px;
            &>div {
                    margin-right: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 6px;
                    background-color: #E8ECEF;
                    border-radius: 16px;
    
                    img {
                        margin-left: 10px;
                    }
            }
        }
        &>div:last-child {
            position: absolute;
            bottom: 8px;
            right: 8px;
            button {
                font-size: 14px;
                color:  #0F2533;
                padding: 8px 12px;
                background-color: white;
                border: 1px solid silver;
                margin-left: 8px;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}

// game search
.wrap-game-search {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .game-search {
        padding: 24px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 2px 8px 0px 
        rgba(0,0,0,0.5);
        max-width: 480px;
        position: relative;
        h4 {
            font-size: 16px;
            color: #0F2533;
            margin-bottom: 28px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                cursor: pointer;
                display: flex;
                align-items: center;
                width: 50%;
                margin-top: 16px;
                img {
                    width: 36px;
                    margin-right: 12px;
                }
                &:nth-child(2),
                &:first-child {
                    margin-top: 0;
                }
                span {
                    font-size: 16px;
                    color: #222222;
                }
            }
        }
        
    }
}

// game search 1
.wrap-game-search1 {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .game-search1 {
        padding: 24px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 2px 8px 0px 
        rgba(0,0,0,0.5);
        max-width: 1180px;
        width: 1180px;
        position: relative;
        h4 {
            font-size: 16px;
            color: #0F2533;
            margin-bottom: 28px;
        }

        .title-game-search {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 24px;
            &>ul {
                display: flex;
                li {
                    padding: 10px 16px;
                    color: #6E7F8A;
                    font-size: 14px;
                    cursor: pointer;
                    font-weight: 500;
                }
                .active-game-search {
                    color: #3D3DF2;
                    border-bottom: 4px solid #3D3DF2;
                }
            }

            &>div:nth-child(2) {
                button {
                    margin-right: 8px;
                    color: #0F2533;
                    font-size: 14px;
                    border: 1px solid #D1D9DE;	
                    border-radius: 4px;	
                    background-color: #FFFFFF;
                    padding: 8px 12px;
                    font-weight: 500;
                }
            }

            &>div:nth-child(3) {
                display: flex;

                .time-option{
                    width: 120px;
                    background:#fff url('/img/calendar.png')  97% 50% no-repeat ;
                    border: 1px solid #c4c4c4;
                    border-radius: 4px;
                    height: 36px;
                    margin-left: 18px;
                    outline: none;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -1px;
                    padding-left: 12px;
                    &::-webkit-inner-spin-button {
                        display: none;
                    }
                    &::-webkit-calendar-picker-indicator {
                        opacity: 0;
                    }
                    &::-webkit-clear-button {
                        display: none;
                    }
                    &::-ms-clear {
                        display: none;
                    }
                }
                select {
                    margin-left: 16px;
                    font-size: 14px;
                    color: #222222;
                    width: 120px;
                    background-color: white;
                    border: 1px solid silver;
                    border-radius: 4px;
                    padding: 7px 11px;
                    background: url(/img/ic_row.png) 93%/9px no-repeat white;
                    -webkit-appearance: none;
                    padding-right: 21px;
                }
            }
        }
        
        
    }
}

// game search 1
.wrap-delete-topic {
    position: fixed;
    display: none;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    .delete-topic {
        padding: 24px 24px 91px 24px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 2px 8px 0px 
        rgba(0,0,0,0.5);
        // max-width: 1180px;
        width: 280px;
        position: relative;
        h4 {
            font-size: 16px;
            color: #0F2533;
            margin-bottom: 28px;
        }
        p {
            line-height: 21px;
            font-size: 14px;
            color: #74818A;
        }
        &>div {
            position: absolute;
            bottom: 8px;
            right: 8px;
            button {
                border-radius: 4px;
                background-color: white;
                color: #0F2533;
                font-size: 14px;
                font-weight: 500;
                border: 1px solid silver;
                cursor: pointer;
                padding: 8px 12px;
                margin: 8px;
                &:last-child {
                    color: #FA3E3E;
                }
            }
        }
    }
}

// copy topic
.wrap-copy-topic {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .copy-topic {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 2px 8px 0px 
        rgba(0,0,0,0.5);
        width: 480px;
        
        position: relative;
        h4 {
            font-size: 16px;
            color: #0F2533;
            padding: 24px;
            border-bottom: 1px solid silver;
        }
        &>div {
            ul {
                padding: 0 24px;
                overflow: auto;
                max-height: 265px;
                li {
                    padding: 16px 0;
                    color: #222222;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }

        &>div:last-child {
            padding: 8px 7px;
            border-top: 1px solid silver;
            text-align: right;
            button {
                margin-left: 8px;
                border: 1px solid silver;
                background-color: white;
                border-radius: 4px;
                color: #0F2533;
                font-size: 14px;
                padding: 8px 12px;
                cursor: pointer;
            }
        }
        
    }
}

// player search
.wrap-player-search {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .player-search {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 2px 8px 0px 
        rgba(0,0,0,0.5);
        width: 480px;
        padding: 24px;
        position: relative;
        h4 {
            font-size: 16px;
            color: #0F2533;
            padding: 24px;
            border-bottom: 1px solid silver;
        }
        &>div {
            position: relative;
            img {
                position: absolute;
                top: 11px;
                right: 8px;
            }
            input {
                background-color: #EEEEEE;
                border-radius: 4px;
                padding: 9px;
                border: none;
                width: 100%;
            }
        }

        ul {
            max-height: 265px;
            overflow: auto;
            li {
                padding: 20px 8px;
                font-size: 14px;
                color: #222222;
                cursor: pointer;
            }
        }
        
    }
}

//* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D1D9DE;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #D1D9DE;
  }
  