@import '../../../../common/styles/styles.scss';

.team-user-topic {
    min-height: calc(100vh - 180px);
    padding: 24px;
    background-color: $bg-color-gray-light;
    box-shadow: 0px -1px 0px #DFE6EB;

    .block-control{
        display: flex;
        justify-content: space-between;

        .block-button{
            padding: 0;

            .btn-delete::before{
                background-image: url('/img/delete_icon_blue.png');
                background-size: cover;
                width: 24px;
                margin-right: 8px;
            }

            .btn-copy::before{
                background-image: url('/img/copy_icon.png');
                background-size: cover;
                width: 24px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }
}